<section class="comments">
	
	<% @own_projects.each do |p| %>
	<article class="comment">
		<a class="comment-img" href="#non">
			<img src="/assets/ruby.png" alt="wse" width="50" height="50" />
		</a>

		<div class="comment-body">
			<div class="text">
			  <p><%=link_to p.name, p %></p>
			</div>
			<p class="attribution"><%=p.users.count%> collaborators, Created at <%=p.created_at.strftime('%A, %b %d, %Y')%>
			</p>
		</div>
		
	</article>
	<% end %>


	<% @projects.each do |p| %>

		<article class="comment">
		<a class="comment-img" href="#non">
			<img src="/assets/ruby.png" alt="wse" width="50" height="50" />
		</a>

		<div class="comment-body">
			<div class="text">
			  <p><%=link_to p.name, p %></p>
			</div>
			<p class="attribution">by <b><%=p.author.email%></b>, <%=p.users.count%> collaborators, at <%=p.created_at.strftime('%A, %b %d, %Y')%>
			</p>
		</div>
		
	</article>

	<% end %>

</section>

<aside>
	<h3>Welcome <%=current_user.email %></h3>
	<hr />
	<ul class="mylist">
		<li><b>Authored Projects:</b> <%=@own_projects.count%></li>
		<li><b>Colloborated Projects:</b> <%=@projects.count%></li>
	</ul>
	<br />
	<%=link_to "New Project", new_project_path, :class=>"button" %>
</aside>