<h1>Listing projects</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>Cost</th>
    <th>Deadline</th>
    <th>Collaborators</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.desc %></td>
    <td><%= project.cost %></td>
    <td><%= project.deadline.strftime('%A, %b %d') %></td>
    <td>
        <%= project.users.empty? ? "No collaborators" : project.users.count %>
    </td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
