<article>
  
<section>

<h2>Listing projects</h2>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>Cost</th>
    <th>Deadline</th>
    <th>Collaborators</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.desc %></td>
    <td><%= project.cost %></td>
    <td><%= project.deadline.strftime('%A, %b %d') %></td>
    <td>
        <%= project.users.empty? ? "No collaborators" : project.users.count %>
    </td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>

</section>
      
</article>

<aside>
  <h3>Welcome <%=current_user.email %></h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odegestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nipharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enimturpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.
</aside>