<article>
<section>
  
</section>
</article>
<aside>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %> (<%=@project.author.email%>)
</p>

<p>
  <b>Desc:</b>
  <%= @project.desc %>
</p>

<p>
  <b>Cost:</b>
  <%= @project.cost %>
</p>

<p>
  <b>Deadline:</b>
  <%= @project.deadline %>
</p>

<p>
  <b>Collaborators:</b>
  <% if @project.users.empty? %>
    No collaborators
  <% else %>
    <% @project.users.each do |u| %>
      <%= u.email %>
    <% end %>
  <% end %>
  <br />

</p>

<hr />

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</aside>