<article>
<section>
  <%if @project.tasks.empty? %>
    <p class="notice">No tasks created for the project yet.</p>
  <% else %>
    <h2>Stories</h2>
    <%  @project.tasks.each do |t| %>
      <div class="task-block">
      <h4><%=t.name %></h4><span class="pull-right"><%=raw get_formatted_status(t.status) %></span> 
      EST: <%=t.est_days%> days <hr/>
      <%=t.user.email %>
      </div>
      <% end %>
  <% end %>
<div  class="clear"></div>
<h2>Create a new task:</h2>
<%=render "/tasks/form" %>
</section>
</article>
<aside>
<br />
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %> (<%=@project.author.email%>)
</p>

<p>
  <b>Desc:</b>
  <%= @project.desc %>
</p>

<p>
  <b>Cost:</b>
  <%= @project.cost %>
</p>

<p>
  <b>Deadline:</b>
  <%= distance_of_time_in_words(Date.today,@project.deadline) %> remaining
</p>

<p>
  <b>Collaborators:</b>
  <% if @project.users.empty? %>
    No collaborators
  <% else %>
    <% @project.users.each do |u| %>
      <%= u.email %>
    <% end %>
  <% end %>
  <br />

</p>

<hr />

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</aside>