<!DOCTYPE html>
<html>
<head>
  <title>Nucleus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

   <!--[if lt IE 9]>
   <script src="assets/javascripts/html5shiv-3-respond-1.1.0.min.js"></script>
   <![endif]-->
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<%=render "shared/header" %>

<div id="main-container">
		<div id="main" class="wrapper clearfix">
		
			<article>
			
				<section>
						<%= yield %>
				</section>
			
			
			</article>
			
			<aside>
				<h3>Welcome <%=current_user.email %></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
			</aside>
			
		</div> <!-- #main -->
	</div> <!-- #main-container -->

	<div id="footer-container">
		<footer class="wrapper">
			<h5>&copy; Nucleus 2012</h5>
		</footer>
	</div>





</body>
</html>
